<?xml version="1.0" encoding="utf-8" ?>
<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
      xsi:schemaLocation="http://www.nlog-project.org/schemas/NLog.xsd NLog.xsd"
      autoReload="true"
      internalLogLevel="Off"
      internalLogFile="c:\temp\nlog-internal.log">

	<!-- Define reusable variables for app name, log path -->
	<variable name="appName" value="CRPLogs"/>
	<variable name="logPath" value="${basedir}/Log/${date:format=dd-MM-yyyy}"/>

	<extensions>
		<add assembly="NLog.Web.AspNetCore"/>
	</extensions>

	<targets>
		<!-- Console logging target with color formatting -->
		<target xsi:type="ColoredConsole" name="console" layout="${date:format=yyyy-MM-dd HH\:mm\:ss} ${level:uppercase=true} > ${message}" />

		<!-- Error log target with archive and exception handling -->
		<target xsi:type="File"
				name="ErrorLog"
				layout="${date:format=yyyy-MM-dd HH\:mm\:ss} | ${level:uppercase=true} | Logger: ${logger} | Thread ID: ${threadid} | Message: ${message} ${onexception:${newline}EXCEPTION: ${exception:format=ToString}${newline}INNER EXCEPTION: ${innerexception:format=ToString}${newline}STACKTRACE: ${stacktrace:format=long}${newline}Request URL: ${aspnet-request-raw-url}${newline}User: ${windows-username}}"
				fileName="${logPath}/${appName}/ErrorLog.log"
				keepFileOpen="false"
				archiveFileName="${logPath}/${appName}/ErrorLog_${date:format=yyyy-MM-dd}.{##}.log"
				archiveAboveSize="1048576"
				archiveNumbering="Rolling"
				concurrentWrites="true"
				maxArchiveFiles="50" />

		<!-- Warning log target with archive and exception handling -->
		<target xsi:type="File"
				name="WarningLog"
				layout="${date:format=yyyy-MM-dd HH\:mm\:ss} | ${level:uppercase=true} | Logger: ${logger} | Thread ID: ${threadid} | Message: ${message} | ${onexception:${newline}EXCEPTION: ${exception:format=ToString}${newline}INNER EXCEPTION: ${innerexception:format=ToString}${newline}STACKTRACE: ${stacktrace:format=long}}"
				fileName="${logPath}/${appName}/WarningLog.log"
				keepFileOpen="false"
				archiveFileName="${logPath}/${appName}/WarningLog_${date:format=yyyy-MM-dd}.{##}.log"
				archiveAboveSize="1048576"
				archiveNumbering="Rolling"
				concurrentWrites="true"
				maxArchiveFiles="50" />

		<!-- Trace log target with archive and exception handling -->
		<target xsi:type="File"
				name="TraceLog"
				layout="${date:format=yyyy-MM-dd HH\:mm\:ss} | ${level:uppercase=true} | Logger: ${logger} | Thread ID: ${threadid} | Message: ${message} | ${onexception:${newline}EXCEPTION: ${exception:format=ToString}${newline}INNER EXCEPTION: ${innerexception:format=ToString}${newline}STACKTRACE: ${stacktrace:format=long}}"
				fileName="${logPath}/${appName}/TraceLog.log"
				keepFileOpen="false"
				archiveFileName="${logPath}/${appName}/TraceLog_${date:format=yyyy-MM-dd}.{##}.log"
				archiveAboveSize="1048576"
				archiveNumbering="Rolling"
				concurrentWrites="true"
				maxArchiveFiles="50" />

		<!-- Debug log target with archive and exception handling -->
		<target xsi:type="File"
				name="DebugLog"
				layout="${date:format=yyyy-MM-dd HH\:mm\:ss} | ${level:uppercase=true} | Logger: ${logger} | Thread ID: ${threadid} | Message: ${message} | ${onexception:${newline}EXCEPTION: ${exception:format=ToString}${newline}INNER EXCEPTION: ${innerexception:format=ToString}${newline}STACKTRACE: ${stacktrace:format=long}}"
				fileName="${logPath}/${appName}/DebugLog.log"
				keepFileOpen="false"
				archiveFileName="${logPath}/${appName}/DebugLog_${date:format=yyyy-MM-dd}.{##}.log"
				archiveAboveSize="1048576"
				archiveNumbering="Rolling"
				concurrentWrites="true"
				maxArchiveFiles="50" />

		<!-- Info log target with archive and exception handling -->
		<target xsi:type="File"
				name="InfoLog"
				layout="${date:format=yyyy-MM-dd HH\:mm\:ss} | ${level:uppercase=true} | Logger: ${logger} | Thread ID: ${threadid} | Message: ${message} | ${onexception:${newline}EXCEPTION: ${exception:format=ToString}${newline}INNER EXCEPTION: ${innerexception:format=ToString}${newline}STACKTRACE: ${stacktrace:format=long}}"
				fileName="${logPath}/${appName}/InfoLog.log"
				keepFileOpen="false"
				archiveFileName="${logPath}/${appName}/InfoLog_${date:format=yyyy-MM-dd}.{##}.log"
				archiveAboveSize="1048576"
				archiveNumbering="Rolling"
				concurrentWrites="true"
				maxArchiveFiles="50" />
	</targets>

	<rules>
		<!-- Log errors to the ErrorLog target (Only ERROR logs will go here) -->
		<logger name="*" minlevel="Error" writeTo="ErrorLog" />

		<!-- Log warnings and higher (Error and above) to a specific WarningLog target -->
		<logger name="*" minlevel="Warn" writeTo="WarningLog" />

		<!-- Log everything at Trace level and above to the NLog target (for trace logs) -->
		<logger name="*" minlevel="Trace" writeTo="TraceLog" />

		<!-- Log everything at Debug level and above to the DebugLog target -->
		<logger name="*" minlevel="Debug" writeTo="DebugLog" />

		<!-- Log everything at Info level and above to the InfoLog target -->
		<logger name="*" minlevel="Info" writeTo="InfoLog" />

		<!-- Log everything at Debug level and above to the console -->
		<logger name="*" minlevel="Debug" writeTo="console" />
	</rules>
</nlog>